<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/resources/css/style.css">
    <title>Blog</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">Danh sach User</a>
                <a href="/sign-in">
                    Dang nhap
                </a>
                <a href="/register">
                    Dang ki
                </a>
                <a href="/logout">
                    Dang xuat
                </a>
            </li>
        </ul>
    </nav>
    <h1>Xin chao! Day la trang Blog cua <span class="name">{{.name}}</span></h1>
    <span>Ban co muon dang xuat khong?</span>
    <a class="btn-logout" href="/logout">Dang xuat</button>
</body>

</html>